@model Filmian.Models.Pelicula

@{
	ViewData [ "Title" ] = "Añadir";
}

<h1>Añadir</h1>

<div class="card shadow-lg rounded-lg m-5">
	<div class="card-header" id="film-card">
		<input type="submit" form="form" value="Crear película" class="btn btn-primary m-5 shadow-lg border-white" id="btn-new" />
	</div>
	<div class="card-body">
		<div class="row" style="margin: 3ex 6ex;">
			<div class="col-md-4">
				<form asp-action="Create" id="form">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						@Html.LabelFor( model => model.Titulo , htmlAttributes: new { @class = "control-label" } )
						@Html.EditorFor( model => model.Titulo , new { htmlAttributes = new { @class = "form-control" } } )
						@Html.ValidationMessageFor( model => model.Titulo , htmlAttributes: new { @class = "text-danger" } , message: "" )
					</div>
					<div class="form-group">
						@Html.LabelFor( model => model.Duracion , htmlAttributes: new { @class = "control-label" } )
						@Html.EditorFor( model => model.Duracion , new { htmlAttributes = new { @class = "form-control" } } )
						@Html.ValidationMessageFor( model => model.Duracion , htmlAttributes: new { @class = "text-danger" } , message: "" )
					</div>
					<div class="form-group">
						@Html.LabelFor( model => model.Año , htmlAttributes: new { @class = "control-label" } )
						@Html.EditorFor( model => model.Año , new { htmlAttributes = new { @class = "form-control" } } )
						@Html.ValidationMessageFor( model => model.Año , htmlAttributes: new { @class = "text-danger" } , message: "" )
					</div>
					<div class="form-group">
						@Html.LabelFor( model => model.Director.Nombre , htmlAttributes: new { @class = "control-label" } )
						@Html.DropDownListFor( model => model.DirectorId , selectList: new SelectList( Pelicula.Directores , "Key" , "Value" ) , new { @class = "form-control" } )
						@Html.ValidationMessageFor( model => model.Director.Nombre , htmlAttributes: new { @class = "text-danger" } , message: "" )
					</div>
					<div class="form-group">
						@Html.LabelFor( model => model.Valoracion , htmlAttributes: new { @class = "control-label" } )
						@Html.EditorFor( model => model.Valoracion , new { htmlAttributes = new { @class = "form-control" } } )
						@Html.ValidationMessageFor( model => model.Valoracion , htmlAttributes: new { @class = "text-danger" } , message: "" )
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div>
	<a asp-action="Index" class="btn btn-primary m-5 shadow-lg" id="btn-new">Volver a Películas</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );}
}
