@model IEnumerable<Filmian.Models.Pelicula>

@{
    ViewData["Title"] = "Películas";
}

<h1>Películas</h1>

<p>
    <a asp-action="Create">Añadir nueva película</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director.DirectorID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PeliculaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PeliculaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PeliculaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
