@model Filmian.Models.Director

@{
	ViewData [ "Title" ] = "Delete";
}

<h1>Eliminar</h1>

<div class="card shadow-lg rounded-lg m-5">
	<div class="card-header" id="director-card">
		@*<input type="submit" form="form" value="Eliminar director" class="btn btn-danger m-5 shadow-lg border-white" id="btn-new" />*@
		<button type="button" class="btn btn-primary  m-5 shadow-lg border-white" id="btn-new" data-toggle="modal" data-target="#deleteModalCenter">
			Eliminar director
		</button>
	</div>
	<div class="card-body">
		<div class="row" style="margin: 3ex 6ex;">
			<div class="col-md-4">
				<form asp-action="Delete" id="form">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						@Html.LabelFor( model => model.Nombre , htmlAttributes: new { @class = "control-label" } )
						@Html.EditorFor( model => model.Nombre , new { htmlAttributes = new { @class = "form-control disabled" } } )
					</div>
					<div class="form-group">
						@Html.LabelFor( model => model.Pais.Nombre , htmlAttributes: new { @class = "control-label" } )
						@Html.DropDownListFor( model => model.Pais.Nombre , selectList: new SelectList( Model.Paises , "Key" , "Value" ) , new { @class = "form-control disabled" } )
					</div>
					<div class="form-group">
						@Html.LabelFor( model => model.FechaNacimiento , htmlAttributes: new { @class = "control-label" } )
						@Html.EditorFor( model => model.FechaNacimiento , new { htmlAttributes = new { @class = "form-control disabled" } } )
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Eliminar director</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				¿Está seguro de que desea eliminar al director <strong>@Html.DisplayFor( model => model.Nombre )</strong>?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<input type="submit" form="form" value="Eliminar" class="btn btn-danger" />
				@*<button type="button" class="btn btn-danger">Eliminar</button>*@
			</div>
		</div>
	</div>
</div>

<div>
	<a asp-action="Index" class="btn btn-primary m-5 shadow-lg" id="btn-new">Volver a Directores</a>
</div>

