@model Filmian.Models.Director

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<div class="card shadow-lg rounded-lg m-5">
	<div class="card-header" id="director-card">
		<input type="submit" form="form" value="Guardar cambios" class="btn btn-primary m-5 shadow-lg border-white" id="btn-new" />
	</div>
	<div class="card-body">
		<div class="row" style="margin: 3ex 6ex;">
			<div class="col-md-4">
				<form asp-action="Edit" id="form">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					@Html.HiddenFor( model => model.DirectorID )
					<div class="form-group">
						@Html.LabelFor( model => model.Nombre , htmlAttributes: new { @class = "control-label" } )
						@Html.EditorFor( model => model.Nombre , new { htmlAttributes = new { @class = "form-control" } } )
						@Html.ValidationMessageFor( model => model.Nombre , htmlAttributes: new { @class = "text-danger" } , message: "" )
					</div>
					<div class="form-group">
						@Html.LabelFor( model => model.Pais.Nombre , htmlAttributes: new { @class = "control-label" } )
						@Html.DropDownListFor( model => model.PaisId , selectList: new SelectList( Model.Paises , "Key" , "Value" ) , new { @class = "form-control" } )
						@Html.ValidationMessageFor( model => model.Pais.Nombre , htmlAttributes: new { @class = "text-danger" } , message: "" )
					</div>
					<div class="form-group">
						@Html.LabelFor( model => model.FechaNacimiento , htmlAttributes: new { @class = "control-label" } )
						@Html.EditorFor( model => model.FechaNacimiento , new { htmlAttributes = new { @class = "form-control" } } )
						@Html.ValidationMessageFor( model => model.FechaNacimiento , htmlAttributes: new { @class = "text-danger" } , message: "" )
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div>
	<a asp-action="Index" class="btn btn-primary m-5 shadow-lg" id="btn-new">Volver a Directores</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
