@model IEnumerable<Filmian.Models.Director>

@{
    ViewData["Title"] = "Directores";
}

<h1>Directores</h1>

<div class="card shadow-lg rounded-lg m-5">
	<div class="card-header" id="director-card">
		<a asp-action="Create" class="btn btn-primary m-5 shadow-lg border-white" id="btn-new">Añadir nuevo director</a>
	</div>
	<div class="card-body">
		<table class="table table-striped table-hover" style="margin-top:3ex;">
			<caption style="margin-left:7ex; margin-top:2ex;">@Model.Count() directores</caption>
			<thead class="thead-dark">
				<tr>
					<th class="bg-white" style="width:6ex; border: 2px solid white"></th>
					<th class="headerSort" style="transform:rotate(0);">
						@Html.ActionLink( 
								$"{Html.DisplayNameFor( model => model.Nombre )} {(ViewBag.SortOrder == "Nombre_ASC" ? "" : ViewBag.SortOrder == "Nombre_DESC" ? "": " ")}",
								"Index" , 
								new { sortOrder = ViewBag.Nombre_Sort },
								new { @class = "headerSort stretched-link" }
						)
					</th>
					<th class="headerSort" style="transform:rotate(0);">
						@Html.ActionLink(
								$"{Html.DisplayNameFor( model => model.Pais )} {(ViewBag.SortOrder == "Pais_ASC" ? "" : ViewBag.SortOrder == "Pais_DESC" ? "" : " ")}" ,
								"Index" ,
								new { sortOrder = ViewBag.Pais_Sort },
								new { @class = "headerSort stretched-link" }
						)
					</th>
					<th class="headerSort" style="transform:rotate(0);">
						@Html.ActionLink(
								$"{Html.DisplayNameFor( model => model.FechaNacimiento )} {(ViewBag.SortOrder == "FechaNacimiento_ASC" ? "" : ViewBag.SortOrder == "FechaNacimiento_DESC" ? "" : " ")}" ,
								"Index" ,
								new { sortOrder = ViewBag.FechaNacimiento_Sort },
								new { @class = "headerSort stretched-link" }
						)
					</th>
					<th class="bg-white" style="width:6ex; border: 2px solid white"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model) {
				<tr>
					<td class="bg-white" style="border-top: 2px solid white;">
						<a asp-action="Edit" asp-route-id="@item.DirectorID"><span data-toggle="popover" data-placement="top" data-content="Editar" data-trigger="hover" class="icon"></span></a>
					</td>
					<td style="transform:rotate(0);">
						@Html.DisplayFor( modelItem => item.Nombre )
						<a asp-action="Details" asp-route-id="@item.DirectorID" class="stretched-link"></a>
					</td>
					<td style="transform:rotate(0);">
						@Html.DisplayFor( modelItem => item.Pais.Nombre )
						<a asp-action="Details" asp-route-id="@item.DirectorID" class="stretched-link"></a>
					</td>
					<td style="transform:rotate(0);">
						@Html.DisplayFor( modelItem => item.FechaNacimiento )
						<a asp-action="Details" asp-route-id="@item.DirectorID" class="stretched-link"></a>
					</td>
					<td class="bg-white" style="border-top: 2px solid white;">
						<a asp-action="Delete" asp-route-id="@item.DirectorID"><span data-toggle="popover" data-placement="top" data-content="Eliminar" data-trigger="hover" class="icon"></span></a>
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>
