@model IEnumerable<Filmian.Models.Director>

@{
    ViewData["Title"] = "Directores";
}

<h1>Directores</h1>

<p>
    <a asp-action="Create">Añadir nuevo director</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
				@Html.DisplayNameFor( model => model.Nombre )
			</th>
			<th>
				@Html.DisplayNameFor( model => model.Pais)
			</th>
			<th>
				@Html.DisplayNameFor( model => model.FechaNacimiento )
			</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Pais.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FechaNacimiento)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.DirectorID"><span class¨="icon">&#xE26E;</span></a> |
					<a asp-action="Details" asp-route-id="@item.DirectorID">Detalles</a> |
					<a asp-action="Delete" asp-route-id="@item.DirectorID">Eliminar</a>
				</td>
			</tr>
		}
    </tbody>
</table>
